@import url('https://fonts.googleapis.com/css2?family=Urbanist:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
*{
    font-family: 'Urbanist', sans-serif;
    font-weight: 200;
    color: white;
    background-color: #383838;
}
p{
    font-size: 20px;
}
span{
    font-size: 20px;
}
li{
    font-size: 20px;
}
dd{
    font-size: 20px;
}
button{
    border-radius: 5px;
    background-color: rgb(207, 71, 30);
    border-style: none;
    padding: 10px;
    font-size: 20px;
    font-weight: 500;
}